body {
	font-family: 'courgette', serif;
}

header {
	background: #e3e5e6;
	padding: 20px 0;
}

.btn-wrap {
	position: relative;
	width: 360px;
	height: 640px;
}

.bemvindo {
	position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    margin:60px 0 0 -105px; 
    font-size: 26px;
    
}

.btn-wrap2 {

	position:absolute;
    z-index:1;
    top:50%;
    left:50%;
    width:170px;               
    height:40px;              
    padding:0;
    margin:120px 0 0 -90px;   /* margem à esquerda e ao topo metade da medida do botão */
    border: none;
    border-radius: 10px;
    background-color: #aaff00;
    font-size: 18px;
    text-decoration: bold;
    transition: 1s background;
}

.btn-wrap2:hover{
	background: #fdf800;
}

